<html>
    <head>
        <title>Samkit's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Samkit's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.01.2019, 12:14</p>
            <h2><a href="">Temp first post</a></h2>
            <p>This is a temp first blog post.</p>
        </div>

        <div>
            <p>published: 14.01.2019, 12:16</p>
            <h2><a href="">Temp second post</a></h2>
            <p>This is a temp second blog post.</p>
        </div>
    </body>
</html>
